@model Celo.Model.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    @Html.BeginForm("Update", "User")
    @Html.EditorForModel()
    <button type="submit" class="btn btn-primary">Save</button>
</body>
</html>
